@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif, Arial;
    color: #fff;
}

*:focus {
    outline: 0;
}

img {
    border: 0;
}

ul, li {
    list-style: none;
}

a {
    color: #42b0ff;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #222222;
}

#app {
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    height: 80px;
}

#header > .container {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

#header > .container > .nav {
    display: inline-block;
}

#header > .container > .nav > ul {
    text-align: center;
    height: 100%;
}

#header > .container > .nav > ul > li {
    display: inline-block;
    vertical-align: middle;
}

#header > .container > .nav > ul > li > a {
    display: block;
    transition: .3s background-color;
    padding: 10px 30px;
    color: #fff;
}

#header > .container > .nav > ul > li > a:hover {
    background-color: #009eea;
    text-decoration: none;
}

#header > .container > .languages {
    position: absolute;
    top: 30px;
    right: 10px;
}

#logo-image {
    width: 60px;
    height: 60px;
}

#content {
    padding-top: 80px;
    width: 1100px;
    margin: 0 auto;
}

#content > .container {
    padding-top: 40px;
    padding-bottom: 80px;
}

#content > .container > h1 {
    font-weight: normal;
    font-size: 32px;
    display: block;
    border-bottom: 1px solid #808080;
    margin-bottom: 20px;    
    padding-bottom: 20px;
}

#content > .container > .hero-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px 0 40px 0;
}

#content > .container > h2 {
    font-size: 24px;
    font-weight: normal;
}

#content > .container > p {
    font-size: 16px;
    padding: 10px 0;
    line-height: 24px;
}

#content > .container > .divider {
    padding: 20px 0;
}

#games > .game-screenshot {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.game-description {
    border: 1px solid #808080;
    padding: 10px 40px;
}

.game-description > .group {
    padding: 10px 0;
}

.game-description > .group > .name {
    font-size: 16px;
}

.game-description > .group > .value {
    font-size: 12px;
    padding-top: 5px;
}

#contact {
    padding-bottom: 80px;
}

#footer {
    background-color: #333;
    padding: 50px;
}

#footer > p {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

/* Responsive: Mobile */
@media screen and (min-width: 0px) and (max-width: 767px) {
    #header {
        background-color: #333;
        height: auto;
    }

    #header > .container {
        width: 100%;
        padding: 10px;
    }

    #header > .container > .nav > ul > li:first-child {
        display: none;
    }

    #header > .container > .nav > ul > li > a {
        padding: 10px 20px;
    }

    #header > .container > .languages {
        top: 70px;
        background-color: rgba(50, 50, 50, 0.8);
        padding: 10px;
    }

    #content {
        padding: 80px 20px 20px 20px;
        width: 100%;
    }

    #content > .container {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #content > .container > h1 {
        font-size: 22px;
    }

    #content > .container > h2 {
        font-size: 18px;
    }

    #content > .container > p {
        font-size: 14px;
    }

    .game-description {
        padding: 10px 20px;
    }

    .game-description > .group > .name {
        font-size: 14px;
    }
    
    .game-description > .group > .value {
        font-size: 12px;
        padding-top: 5px;
    }

    #footer {
        padding: 30px;
    }
}

/* Responsive: Tablet */
@media screen and (min-width: 768px) and (max-width: 1100px) {
    #header > .container {
        width: 768px;
    }

    #content {
        width: 768px;
    }
}